<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="navLogo" style="width: 50%;" src="../../../assets/images/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="color: blue;" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="margin-left:50px; color: blue;" aria-current="page" href="/userDetails">Users</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button type="button" class="btn btn-outline-primary">Search</button>
      </form>
      <ul class="navbar-nav ml-5 mr-5">
        <li *ngIf="!isLogin" class="nav-item active">
          <a class="nav-link" href="/login" style="color: blue;"> Login</a>
        </li>

        <li *ngIf="isLogin" class="nav-item active">
          <a class="nav-link">
            <button (click)="logOut()" style="border: none; background: none">
              Logout
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>