<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"
    ><img class="navLogo" src="../../../assets/images/logo.png" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- button for go home -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>

      <!-- button for direct user details page -->
      <li class="nav-item active">
        <a class="nav-link" href="/userDetails"
          >User's Details <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item ml-5">
        <form class="form-inline my-2 my-lg-0 mr-5">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </li>
    </ul>

    <!-- button for direct login page and logout button -->

    <ul class="navbar-nav ml-5 mr-5">
      <li *ngIf="!isLogin" class="nav-item active">
        <a class="nav-link" href="/login"> Login</a>
      </li>

      <li *ngIf="isLogin" class="nav-item active">
        <a class="nav-link">
          <button (click)="logOut()" style="border: none; background: none">
            Logout
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>
