<div class="row">
  <div class="col-4 ">
    <div style="width: 60%; margin:50% 0 0 30%">
      <h1 class="primary" style="font-weight: bold;">Welcome to Atlassian</h1>
      <h3>
        The #1 software development tool used by agile teams.
      </h3>
      <button type="button" class="btn btn-primary" onclick="document.location='#about'">Read More</button>
    </div>

  </div>
  <div class="col-8">
    <img class="" style="width: 70%;float: right;margin:12% 4% 0 0;" src="../../../assets/images/homecover.png" alt="">
  </div>

</div>


<div class="row">
  <div class="col-12" style="margin:auto; width: 90%;">
    <div class="card" style=" margin: 5% 0 5% 0;  " id="about">
      <div class="card-body">
        <h2 class="card-title">About Atlassian</h2>
        <h3 class="card-text">


          Atlassian Corporation is an Australian software company that develops products for software developers,
          project managers and other software development teams. The company is domiciled in Delaware, with global
          headquarters in Sydney, Australia, and US headquarters in San Francisco. Atlassian's products include Jira,
          Confluence, Bitbucket, Trello, and HipChat. The company's products are used by over 200,000 organizations,
          including 85% of the Fortune 100.Atlassian's products are available in 30 languages and are used by over
          150,000 paying customers.Atlassian's products are used by over 100,000 organizations, including 85% of the
          Fortune 100.

          In the fourth fiscal quarter of 2022, Atlassian reported serving 242,623 customers in over 190 countries, with
          10 million monthly active users.As of June 2022, the company had 8,813 employees internationally. Atlassian
          has a global team across 13 different countries; office locations include Amsterdam, Austin, Boston, New York,
          San Francisco, Mountain View,Manila, Yokohama, Bangalore, and Sydney.
        </h3>

      </div>
    </div>
  </div>
</div>